/* ///////////////////////////////////////////////--HEADER-- */
/* Full Page Image Header Area */
.header {
  height: 100vh !important;
  background: url(/img/background.jpg) !important;
  background-attachment: fixed !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

.m-logo {
  width: 13em;
  height: auto;
  opacity: .9;
}

.overlay {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  background-color: #000000;
  opacity: .5;
}

.vert-text {
  z-index: 10;
}

.siteTitle {
  font-family: 'Sancreek', cursive;
  font-size: 9em;
  color: #ffffff;
  opacity: .9;
}

.description {
  font-family: 'Lobster', cursive;
  font-size: 4em;
  color: #ffffff;
  opacity: .9;
}





/*//////////////////////////////////////////////--HEADER-- */
i.callout-icon,
i.point-icon,
i.lead-icon {
  border-radius: 50%;
  display: inline-block;
  font-size: 56px;
  width: 140px;
  height: 140px;
  line-height: 136px;
  vertical-align: middle;
  text-align: center;
  -webkit-transition: box-shadow 0.2s;
  -moz-transition: box-shadow 0.2s;
  transition: box-shadow 0.2s;
}
/* ///////////////////////////////////////////////--SINGLE PAGES/*
/* ///////////////////////////////////////////////--PRODUCTS-- */
.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  font-family: Georgia, 'Times New Roman', Times, serif !important;
  background-size: cover;
  background: url(/img/barber3.jpg) !important;
  background-color: rgb(212, 196, 174);
  background-attachment: fixed !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  padding: 80px 80px;
}
.flex-container-row {
  background-color: #ffffff;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  /* margin: 80px 10px; */
  height: 100%;
  width: 80vw;
}
.product{
  background-color: #ffffff;
  width: 400px;
  height: auto;
  /* margin: 10px; */
  text-align: center;
  /* line-height: 75px; */
  font-size: 16px;
  margin: 10px;
  padding: 0px;
  z-index: 100;
}

.point {
  font-family: Georgia, 'Times New Roman', Times, serif !important;
  background-size: cover;
  background: url(/img/barber3.jpg) !important;
  background-color: rgb(212, 196, 174);
  background-attachment: fixed !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

.counterpoint {
  font-family: Georgia, 'Times New Roman', Times, serif !important;
  background: url(/img/parchment.jpg) !important;
  opacity: .8;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

#intro>div>div>div>h2 {
  font-family: Georgia, 'Times New Roman', Times, serif !important;
}
.p-title {
  font-family: Georgia, 'Times New Roman', Times, serif !important;
  font-size: 3em;
  color: #000000;
  opacity: 1;
  padding: 30px 0px 20px 0px;
}
p {
  font-family: Georgia, 'Times New Roman', Times, serif !important;
  font-size: 1.8em;
}


/* ///////////////////////////////////////////////--FOOTER-- */

#footer {
  background: url(../img/gray.png) !important;
  padding: 30px 0px 40px;
  width: 100%;
  color: #ffffff;
  font-size: 12px;
}

#footer>div>div>div>p {
  color: #ffffff;
  font-size: 1em;
}