

<div class="flex-container">
  <div class="flex-container-row">
    <h2 class="p-title">Grooming Products</h2>
		<div class="flex-container-row">
			<div class="product">
				<img src="img/cleanshave.jpg" alt="CleanShave">
				<p>Clean Shave</p>
			</div>
			<div class="product">
				<img src="img/pomade.jpg" alt="Pomade">
				<p>Hair Pomade</p>
			</div>
			<div class="product">
				<img src="img/seasaltspray.jpg" alt="Seasalt Spray">
				<p>Seasalt Spray</p>
			</div>
			<div class="product">
				<img src="img/shampoo.jpg" alt="Shampoo">
				<p>Shampoo</p>
			</div>
			<div class="product">
				<img src="img/shavecream.jpg" alt="Shave Cream">
				<p>Shave Cream</p>
			</div>
			<div class="product">
				<img src="img/soap.jpg" alt="Soap">
				<p>Shaving Soap</p>
			</div>
		</div>
  </div>
</div>